
{{> head}}
{{> navbar}}

<div class="row-8">
    <div class="col-8">
        <h1>este es modulo about</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos unde minus aut dolores autem soluta sed deserunt neque natus eius suscipit a asperiores voluptatum sunt, repudiandae quae dolor cupiditate similique?
        </p>
        
    </div>
    <div class="col-4">
        <img src="/assets/img/icono-chico-1.jpg" class="img-thumbnail">
    </div>
</div>
{{> footer}}